.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.f-d-card {
    width: 150px;
    height: 250px;
    background-color: green;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
}

.f-d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-d-text {
    width: 100px;
    height: 100px;
    background-color: red;
}