.container {
    width: 1200px;
    margin: 0 auto;
}

.f-d-card {
    width: 150px;
    height: 250px;
    background-color: green;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
}

.f-d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-d-text {
    width: 100px;
    height: 100px;
    background-color: red;
}

.f-d-clip-pathRhombus {
    width: 150px;
    height: 250px;
    background-color: green;
    margin: 10px;
    border-radius: 15px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.f-d-clip-pathTriangle {
    width: 150px;
    height: 250px;
    background-color: green;
    margin: 10px;
    border-radius: 15px;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.f-d-clip-pathPentagon {
    width: 150px;
    height: 250px;
    background-color: green;
    margin: 10px;
    border-radius: 15px;
    clip-path: polygon(50% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
}

.f-d-clip-pathStar {
    width: 150px;
    height: 250px;
    background-color: green;
    margin: 10px;
    border-radius: 15px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}